/* Basic reset */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: #2980b9;
    color: white;
    font-family: Palanquin, sans-serif;
}

#intro .container {
    margin: 80px auto 0;
    width: 960px;
}

#intro h1 {
    font-size: 40px;
    text-align: center;
}

#intro small{
    margin-bottom: 30px;
    font-size: 16px;
}

#intro p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 30px;
}

#intro .dot {
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
}

#intro .dot-1 {
    background-color: #ecf0f1;
}

#intro .dot-2 {
    background-color: #3498db;
}

#intro .dot-3 {
    background-color: #2ecc71;
}

#intro .dot-4 {
    background-color: #ff2020;
}

#intro ol {
    margin-top: -20px;
    padding-left: 30px;
}

#intro input{
    border: 0;
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 30px auto 0;
    width: 300px;
}

#intro a.btn {
    background-color: #e74c3c;
    color: white;
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 300px;
}

#intro a:hover{
    margin-left: calc(50% - 150px + 5px);
    transition: all 0.3s ease;
}

footer {
    background-color: #0b0e21;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
}

footer span {
    color: #e74c3c;
}

footer a {
    color: #2980b9;
    text-decoration: none;
}